@charset "UTF-8";
/*-----------------------------ВЕРХНЕЕ МЕНЮ-------------------------------------*/
.black-menu {
  width: 100%;
  background: black;
  font-size: 13px; }

.upper-menu {
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .upper-menu a {
    color: #FFFFFF; }
    .upper-menu a:hover {
      opacity: 0.8; }

.separation-line {
  width: 0;
  height: 15px;
  border-right: 1px dotted #323232; }

/*-----------------------------HEADER-------------------------------------*/
header {
  background: #fff;
  display: flex; }

.middle-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px; }
  .middle-menu a {
    color: black; }

.logo {
  display: flex;
  font-size: 46px;
  margin-top: 10px;
  align-items: center; }

.logo:hover {
  color: #ff5816; }

.logo .logo-my {
  background-image: url("/src/img/logo_bg.png");
  background-position: bottom -25px left -48px;
  background-repeat: no-repeat;
  /*w75 h46*/
  width: 80px;
  height: 50px; }
  .logo .logo-my p {
    color: #ff5816;
    font-size: 46px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: bold; }

.logo-sign {
  font-size: 11px;
  color: #a3a6a8; }

.contacts {
  display: flex;
  font-size: 13px; }

.callback {
  background-image: url(/src/img/callback_bg.png);
  background-repeat: no-repeat;
  width: 120px;
  /*height: 60px;*/
  /*border-radius: 10px;*/
  /*border: 2px solid #dbdee6;*/
  position: relative;
  top: 5px; }
  .callback a {
    text-transform: uppercase;
    color: #499ad9;
    text-decoration: underline dotted;
    /*line-height: 60px;*/
    position: relative;
    top: 7px;
    left: 15px; }

.contacts-number {
  font-size: 22px;
  font-weight: bold; }

.contacts-messengers {
  display: flex; }
  .contacts-messengers img {
    width: 16px;
    height: 16px;
    margin-right: 5px; }

.contacts-mail {
  text-decoration: underline; }

.search-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .search-title img {
    width: 30px;
    height: 30px;
    margin-right: 10px; }

.search-title-headline {
  text-transform: uppercase; }

.search-title-up {
  font-size: 18px;
  color: #ff5816; }

.search-title-down {
  font-size: 16px; }

.search {
  display: flex; }
  .search input {
    border: 0;
    background: #eff0f4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 15px;
    outline: none; }
  .search button {
    border: 0;
    background: #ff5816;
    color: white;
    border-radius: 5px;
    padding: 0 15px; }

.bin-block {
  text-align: right; }

.authorization {
  margin-bottom: 15px; }
  .authorization a {
    font-size: 13px;
    color: #499ad9;
    text-decoration: underline; }
    .authorization a + a {
      margin-left: 20px; }

.bin-buttons {
  display: flex; }

.bin-button {
  font-size: 13px; }
  .bin-button a {
    font-size: 13px;
    text-decoration: underline dotted; }
  .bin-button i {
    margin-right: 5px; }

.fa-heart {
  color: #c6517a; }

.fa-sync-alt {
  color: #499c54; }

.bin-button + .bin-button {
  margin-left: 20px; }

.bin {
  background-image: url(/src/img/bin_bg.png);
  width: 195px;
  height: 52px;
  text-align: left;
  font-size: 13px;
  margin-bottom: 15px; }

.bin-text {
  position: relative;
  top: 5px;
  left: 25px; }

.bin-items-number {
  color: #499ad9;
  text-decoration: underline; }

/*-----------------------------ОСНОВНОЕ МЕНЮ-------------------------------------*/
.menu {
  font-size: 12px; }

.main-menu a {
  color: white; }

.main-menu li {
  padding-left: 10px;
  padding-right: 10px; }
  .main-menu li:first-child {
    border-radius: 10px 0 0 10px; }
  .main-menu li:last-child {
    border-radius: 0 10px 10px 0; }

.menu-arrow {
  background: #c44411; }
  .menu-arrow a {
    font-size: 20px;
    margin-top: 2px; }
    .menu-arrow a:hover {
      text-decoration: none;
      /* fix it */ }

ul {
  display: flex; }

nav {
  color: black;
  margin: 0 auto; }
  nav li {
    border-right: 1px solid #ff743d;
    border-bottom: 3px solid #c44411;
    display: flex;
    background: #ff5816; }
    nav li:hover {
      opacity: 0.8;
      text-decoration: underline; }
    nav li:last-child {
      border-right: 0; }

/*-----------------------------НОВОСТИ-------------------------------------*/
.news {
  display: flex;
  margin-top: 30px;
  justify-content: space-between; }

.news-side {
  /*!!!!!!!!!!!!!!!!!*/
  width: 24%; }
  .news-side h1 {
    font-size: 22px;
    margin-top: 15px;
    /*margin-bottom: 32px;*/ }

.news-list {
  margin-top: 32px; }

.news-post {
  display: flex; }
  .news-post img {
    width: 60px;
    height: 60px;
    /*line-height: 60px;*/
    margin-right: 10px;
    border-radius: 7px; }

.news-date {
  width: 60px;
  bottom: 20px;
  position: relative; }

.date-month {
  text-align: center;
  bottom: 40px; }

.date-number {
  width: 36px;
  height: 25px;
  background: white;
  border-radius: 3px;
  color: #ff5816;
  position: relative;
  left: 12px; }
  .date-number h5 {
    text-align: center;
    line-height: 25px; }

.news-post {
  border-bottom: 1px dashed #dbdee6; }
  .news-post h5 {
    font-size: 13px; }
  .news-post p {
    font-size: 13px; }
  .news-post + .news-post {
    margin-top: 10px; }

.post-info {
  bottom: 5px;
  position: relative; }
  .post-info a {
    font-size: 13px;
    color: #4673ab;
    font-weight: bold; }
    .post-info a:hover {
      color: #ff743d;
      text-decoration: underline;
      cursor: pointer; }

.slider-side {
  /*!!!!!!!!!!!!!!!!!*/
  /*width: 74%;*/
  width: 72%; }

.slide {
  height: 370px;
  background-image: url(/src/img/slide-bg.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center; }

.slide-content {
  position: relative;
  top: 50px;
  left: 70px; }
  .slide-content h1 {
    font-size: 31px;
    color: #ff5816; }
  .slide-content h2 {
    font-size: 29px;
    color: white; }
  .slide-content h3 {
    font-size: 18px;
    color: white; }

.slider-list {
  display: flex;
  flex-direction: column;
  color: white; }
  .slider-list li {
    font-size: 15px;
    list-style: disc;
    margin-left: 15px; }

.sides-button {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  outline: none;
  color: #4673ab; }
  .sides-button:hover {
    background: #ff5816;
    border-bottom: 3px solid #c44411;
    color: white; }

.banner {
  background: #e3e5eb;
  border-radius: 10px;
  padding: 20px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center; }
  .banner p {
    font-size: 15px; }
  .banner .style1 {
    font-weight: bold; }
  .banner .style2 {
    color: #4673ab; }

.slider {
  margin-top: 32px; }
  .slider img {
    /*width: 847px;*/
    /*height: 369px;*/
    width: 100%;
    height: auto; }

/*-----------------------------НОВИНКИ-------------------------------------*/
.items-block h1 {
  font-size: 22px;
  margin-top: 10px; }

.items {
  display: flex;
  margin-top: 30px;
  /*justify-content: space-between;*/ }

.item {
  border: 1px solid darkgray;
  border-radius: 10px;
  text-align: center;
  width: 230px;
  z-index: 1;
  position: relative; }
  .item:hover {
    border: 1px solid #ff5816; }
  .item .label {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    color: white;
    left: 10px;
    bottom: 4px;
    position: relative;
    line-height: 35px;
    z-index: 9999; }
  .item h1 {
    font-size: 15px;
    padding: 5px 0;
    font-weight: bold; }
  .item .price {
    display: flex;
    padding: 5px 0;
    justify-content: center; }
  .item .buttons {
    padding: 5px 0; }
    .item .buttons .to-buy {
      background: #ff5816;
      color: white;
      padding: 10px 20px;
      border: 0;
      border-radius: 7px;
      border-bottom: 3px solid #c44411;
      outline: none; }
      .item .buttons .to-buy i {
        margin-right: 10px; }
      .item .buttons .to-buy:hover {
        background: #4673ab;
        border-bottom: 3px solid #365884; }
    .item .buttons a {
      font-size: 13px; }

.owl-carousel {
  z-index: -1; }

.new-bg {
  background: #42c16c; }

.thumb-bg {
  background: #f7c159; }

.percent-bg {
  background: #499ad9; }

.label .new {
  font-size: 12px; }

.label .thumb {
  font-size: 20px; }

.label .percent {
  font-size: 20px; }

.label .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 17.5px 0 17.5px; }

.new-triangle-bg {
  border-color: #42c16c transparent transparent transparent; }

.thumb-triangle-bg {
  border-color: #f7c159 transparent transparent transparent; }

.percent-triangle-bg {
  border-color: #499ad9 transparent transparent transparent; }

.item-img-frame {
  width: 130px;
  height: 170px;
  margin: 0 auto;
  position: relative; }
  .item-img-frame img {
    width: 100%;
    height: auto;
    max-height: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }

.new-price {
  font-weight: bold; }

.old-price {
  color: #ff5816;
  text-decoration: line-through; }
